.bsp
.git
.github
.idea
docker
docs
target
project/target
project/project

.dockerignore
.editorconfig
.env*
.gitignore
.circleci
.scalafmt.conf
compose.yaml
Dockerfile
LICENSE
README.md
Taskfile.yml

