<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>OpenReports</title>
    <meta charset="utf-8"/>
    <!--/*
     Be aware that Thymeleaf's OGNL getter support and Scala accessor methods.
     (e.g.)
     case class Person(id: Long, @BeanProperty name: String)
     class PersonsController extends ApplicationController {
       def show = {
         params.getAs[Long]("id").map { id =>
           set("person", Person(id, "Alice"))
         }
         render("/persons/show")
        }
     }
     // src/main/webapp/WEB-INF/views/persons/index.html
     <html layout:decorator="../layouts/default">
     <div layout:fragment="title">Title</div>
     <div layout:fragment="content">
       <div th:text="${person.id}">id</div>     // ERROR!
       <div th:text="${person.id()}">id</div>   // OK!
       <div th:text="${person.name}">id</div>   // OK!
       <div th:text="${person.name()}">id</div> // OK!
    */-->
    <meta content="dummy" name="csrf-token" th:name="${s.csrfKey}" th:content="${s.csrfToken}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container span12">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <th:block th:if="${#bools.isFalse(loggedIn)}">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
    <div layout:fragment="title"><h3>Skinny Application</h3></div>
    <hr/>
    <div class="alert alert-danger" role="alert" th:if="${keyAndErrorMessages.size()} != 0 or ${customErrorMessages}">
        <h4 class="alert-heading"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Error
        </h4>
        <p>
            Some exceptions are occurred.
            <th:block th:each="k : ${keyAndErrorMessages.keySet()}">
                <div th:text="${keyAndErrorMessages.getErrors(k).mkString()}">
                </div>
            </th:block>
            <th:block th:each="e : ${customErrorMessages}">
                <div th:text="*{e.get()}"></div>
            </th:block>
        </p>
    </div>
    <div layout:fragment="content"></div>
    <hr/>
</div>
<script type="text/javascript" src="/assets/js/skinny-framework.js" th:src="@{/assets/js/skinny-framework.js}"></script>
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<th:block layout:fragment="page_scripts"></th:block>
</body>
</html>
