<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>OpenReports</title>
  <meta charset="utf-8"/>
  <!--/*
   Be aware that Thymeleaf's OGNL getter support and Scala accessor methods.
   (e.g.)
   case class Person(id: Long, @BeanProperty name: String)
   class PersonsController extends ApplicationController {
     def show = {
       params.getAs[Long]("id").map { id =>
         set("person", Person(id, "Alice"))
       }
       render("/persons/show")
      }
   }
   // src/main/webapp/WEB-INF/views/persons/index.html
   <html layout:decorator="../layouts/default">
   <div layout:fragment="title">Title</div>
   <div layout:fragment="content">
     <div th:text="${person.id}">id</div>     // ERROR!
     <div th:text="${person.id()}">id</div>   // OK!
     <div th:text="${person.name}">id</div>   // OK!
     <div th:text="${person.name()}">id</div> // OK!
  */-->
  <meta content="dummy" name="csrf-token" th:name="${s.csrfKey}" th:content="${s.csrfToken}"/>
  <!-- Font Awesome -->
  <link rel="stylesheet"
        href="../../assets/library/fontawesome/css/fa-svg-with-js.css"
        th:href="@{/assets/library/fontawesome/css/fa-svg-with-js.css}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="../../assets/library/bootstrap/v411/css/bootstrap.min.css"
        th:href="@{/assets/library/bootstrap/v411/css/bootstrap.min.css}"/>
  <link rel="stylesheet"
        href="../../assets/library/bootstrap-datepicker/bootstrap-datepicker.standalone.min.css"
        th:href="@{/assets/library/bootstrap-datepicker/bootstrap-datepicker.standalone.min.css}"/>
  <link rel="stylesheet"
        href="../../assets/library/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css"
        th:href="@{/assets/library/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css}"/>

  <link rel="stylesheet" href="../../assets/css/layout.css" th:href="@{/assets/css/layout.css} + '?' + ${timeStamp}">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-none"
          th:class="${#bools.isFalse(loggedIn) ? 'navbar-nav mr-auto' : 'navbar-nav mr-auto d-none'}">
        <li class="nav-item" th:classappend="${activeMenu} == 'top' ? 'active' : ''">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto"
          th:class="${#bools.isTrue(loggedIn) ? 'navbar-nav mr-auto' : 'navbar-nav mr-auto d-none'}">
        <li class="nav-item" th:classappend="${activeMenu} == 'home' ? 'active' : ''">
          <a class="nav-link" href="/private/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" th:classappend="${activeMenu} == 'report' ? 'active' : ''">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            レポート管理
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/private/report/">レポート一覧</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown" th:classappend="${#strings.contains(activeMenu,'settings')} ? 'active' : ''">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            設定画面
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-item-group">ユーザー設定
              <a class="dropdown-item" href="/private/settings/member">ユーザ一覧</a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item-group">グループ設定
              <a class="dropdown-item" href="/private/settings/group">グループ一覧</a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item-group">レポート設定
              <a class="dropdown-item" href="/private/settings/report">レポート一覧</a>
              <a class="dropdown-item" href="/private/settings/report-group">レポートグループ一覧</a>
              <a class="dropdown-item" href="/private/settings/report-template">レポートテンプレート一覧</a>
              <a class="dropdown-item" href="/private/settings/report-param">レポートパラメータ一覧</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal">ログアウト</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row title">
    <div layout:fragment="title">
      <h2>Skinny Application</h2>
    </div>
  </div>
  <hr/>
  <div class="alert alert-danger" role="alert" th:if="${keyAndErrorMessages.size()} != 0 or ${customErrorMessages}">
    <h4 class="alert-heading"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Error
    </h4>
    <p>
    <div th:remove="all">Some exceptions are occurred.</div>
    <th:block th:each="k : ${keyAndErrorMessages.keySet()}">
      <div th:text="${keyAndErrorMessages.getErrors(k).mkString()}">
      </div>
    </th:block>
    <th:block th:each="e : ${customErrorMessages}">
      <div th:text="*{e.get()}"></div>
    </th:block>
    </p>
  </div>
  <div class="row main-contents">
    <div layout:fragment="content"></div>
  </div>
  <hr/>
</div>
<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="logoutButton">Logout</button>
      </div>
    </div>
  </div>
</div>
<script src="../../assets/library/fontawesome/js/fontawesome-all.min.js"
        th:src="@{/assets/library/fontawesome/js/fontawesome-all.min.js}"></script>
<!-- JQuery -->
<script src="../../assets/library/jquery-3.3.1.min.js"
        th:src="@{/assets/library/jquery-3.3.1.min.js}"></script>
<!-- Bootstrap tooltips -->
<script src="../../assets/library/popper-1.14.3.min.js"
        th:src="@{/assets/library/popper-1.14.3.min.js}"></script>
<!-- Bootstrap core JavaScript -->
<script src="../../assets/library/bootstrap/v411/js/bootstrap.js"
        th:src="@{/assets/library/bootstrap/v411/js/bootstrap.js}"></script>
<script src="../../assets/library/bootstrap-datepicker/bootstrap-datepicker.min.js"
        th:src="@{/assets/library/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script src="../../assets/library/bootstrap-datepicker/bootstrap-datepicker.ja.min.js"
        th:src="@{/assets/library/bootstrap-datepicker/bootstrap-datepicker.ja.min.js}"></script>

<script src="../../assets/js/layout.js"
        th:src="@{/assets/js/layout.js} + '?' + ${timeStamp}"></script>

<th:block layout:fragment="page_scripts"></th:block>
</body>
</html>
