/* common */
.container {
  width: 1200px;
}

.container .row.title {
  width: 900px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.container .row.main-contents {
  width: 900px;
  margin-left: 10px;
}

.container .row .list-group {
  width: 100%;
}

.dropdown-item-group {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/** public **/
/* top */
.container .row .public-top input {
  width: 400px;
  margin-bottom: -1px;
}

.container .row .public-top button {
  width: 400px;
}

/** private **/
/* report */
.container .row .private-report button {
  width: 200px;
}

.container .row .private-report select {
  width: 200px;
}

.container .row .private-report input {
  width: 200px;
}

.is-hidden {
  display: none;
}

.checkbox-list {
  width: 100%;
  height: 200px;
  border-color: rgb(206, 212, 218);
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  padding-left: 5px;
}
