.container {
    width: 1000px;
}

.container .row {
    width: 800px;
}

.container .row.title {
    padding-bottom: 20px;
}

.container .row input{
    width: 400px;
    margin-bottom: -1px;
}

.container .row button{
    width: 400px;
}

.container .row .list-group{
    width: 500px;
}