<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div layout:decorator="../layouts/default">
    <div class="container span12">
        <th:block layout:fragment="title">
            <h3>Sign In / Sign Up</h3>
        </th:block>
        <th:block layout:fragment="content">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active sign-in"><a href="javascript:void(0)">Sign In</a></li>
                <li role="presentation" class="sign-up"><a href="javascript:void(0)">Sign Up</a></li>
            </ul>
            <div id="sign-in-context">
                <form class="form-horizontal" method="POST" action="">
                    <div class="form-group">
                        <label class="control-label col-md-1" for="userName">ID</label>
                        <div class="col-md-4">
                            <input type="text" name="userName" id="userName" class="form-control" placeholder="aaaaa@bbb.ccc.com"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1" for="password">Password</label>
                        <div class="col-md-4">
                            <input type="text" name="password" id="password" class="form-control" placeholder="********"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-4">
                            <button type="submit" class="btn btn-default">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="sign-up-context" style="display: none">
                Unser development now!!
            </div>
        </th:block>
    </div>
</div>
<script type="text/javascript" src="../../../assets/js/index.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/skinny-framework.js" th:src="@{/assets/js/skinny-framework.js}"></script>
</body>
</html>