name: Code inspection
on:
  push:
    paths:
      - "src/**"
      - "!src/main/resources/db/migration/**"
      - "project/**"
      - build.sbt
      - Dockerfile
      - .github/workflows/code-inspection.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ["17", "18", "19", "20", "21", "22", "23"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: "sbt"
          cache-dependency-path: |
            build.sbt
            project/build.properties
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1
      - name: Build
        run: sbt compile
      - name: Test
        run: sbt test
